@{
    ViewData["Title"] = "Home Page";
}
@model UserPropertyViewModel
<h1>Properties Information</h1>

<br />

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <table id="grid" class="table" data-source="@Url.Action("GetProperties")" data-save="@Url.Action("Save")"></table>
        </div>
    </div>
</div>

@*<div class="container">

    <table class="table" id="tbtEditable">
        <thead>
            <tr>
                <th scope="col">Address</th>
                <th scope="col">Year Built</th>
                <th scope="col">List Price</th>
                <th scope="col">Monthly Rent</th>
                <th scope="col">Gross Yield</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var acc in Model.Data)
            {
                <tr>
                    <td>@acc.Address</td>
                    <td>@acc.YearBuilt</td>
                    <td>@acc.ListPrice</td>
                    <td>@acc.MontlyRent</td>
                    <td contenteditable="false">@acc.GrossYield</td>
                    <td contenteditable="false">
                            <button type="button" class="btn btn-sm btn-default js-edit-btn" data-find="@acc.Id"  data-bs-toggle="tooltip" title="Edit"><i class="fas fa-pen"></i></button>
                        </td>
                </tr>
            }
        </tbody>
    </table>
</div>*@



@section scripts{
    <script src="~/js/Home.js"></script>
}